.box1 {
  background-color: orange;
  width: 100px;
  height: 100px;
}
.box2 {
  background-color: skyblue;
  width: 100px;
  height: 100px;
  position: fixed;
  /* position: relative; */
}
.box3 {
  background-color: tomato;
  width: 100px;
  height: 100px;
}

.rect {
  width: 50px;
  height: 20px;
  background-color: lime;
  position: absolute;
  bottom: 0px;
  left: 0px;
  /* top: 0px;
  left: 0px; */
  /* top: 0px;
  right: 0px; */
  /* top: -5px;
  right: -5px;
   top: 30px; 
  left: 10px; */
}